language: java
sudo: false # faster builds
jdk:
 - oraclejdk8
services:
 - mysql
before_script:
 - mysql -e 'DROP DATABASE IF EXISTS gutenberg_test'
 - mysql -e 'CREATE DATABASE IF NOT EXISTS gutenberg_test'
 - mysql -u root --default-character-set=utf8 gutenberg_test < CreateGutenbergTest.sql
 - mysql -u root --default-character-set=utf8 gutenberg_test < TestData.sql