language: java
sudo: false # faster builds
jdk:
 - oraclejdk8
env:
 - CI=true
services:
 - mysql
before_script:
 - sh -c "mysql -e 'DROP DATABASE IF EXISTS gutenberg_test;'"
 - sh -c "mysql -e 'CREATE DATABASE IF NOT EXISTS gutenberg_test;'"
 - sh -c "mysql -u root --default-character-set=utf8 gutenberg_test < CreateGutenbergTest.sql"
 - sh -c "mysql -u root --default-character-set=utf8 gutenberg_test < TestData.sql"
# install Neo4j locally:
 - wget dist.neo4j.org/neo4j-community-2.2.0-unix.tar.gz
 - tar -xzf neo4j-community-2.2.0-unix.tar.gz
 - sed -i.bak s/dbms.security.auth_enabled=true/dbms.security.auth_enabled=false/g neo4j-community-2.2.0/conf/neo4j-server.properties
 - neo4j-community-2.2.0/bin/neo4j start
 - neo4j-community-2.2.0/bin/neo4j-shell -file neo4jData.cql